# pinned to py3-grpcio version to avoid failure on native extension build
joblib
ldap3
pygtail
psycopg2-binary
PyMySQL
# =======================
# Install Spanner package
# =======================
google-cloud-spanner
# ===============
# Install Couchbase Client
# ===============
couchbase
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
