# pinned to py3-grpcio version to avoid failure on native extension build
joblib
ldap3
pygtail
psycopg2-binary
PyMySQL
# =======================
# Install Spanner package
# =======================
google-cloud-spanner
# ===============
# Install Couchbase Client
# ===============
couchbase
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
